.forgotPassword {
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
}


.forgotPassword:hover {
    text-decoration: underline;
    transition: s ease;
}

@media screen and (max-width: 600px) {
    .forgotPassword {
        font-size: 1rem;
    }
}