.forgotPassword {
    color: black;
    text-decoration: none;
}

.createAccount {
    margin-left: 8px;
}

.backToHome {
    margin-top: 10px;
}

.forgotPassword:hover {
    text-decoration: underline;
}

.errorMessage {
    color: red;
    margin-top: 10px;
}