/* === Global CSS === */

/* 1. Import reset CSS */
@import '/node_modules/normalize.css/normalize.css';

/* 2. Font-face declarations */
@font-face {
  font-family: 'Roboto';
  src: url('/src/assets/fonts/Roboto/static/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('/src/assets/fonts/Roboto/static/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/static/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
}


/* === Component CSS === */
:root {
  --color-primary: #1B76D2;
  --color-secondary: #F2994A;
  --color-bg: #F5F7FA;
  --color-text: #333333;
  --color-text-muted: #666666;
  --color-hover: #1565C0;
  --color-error: #EB5757;
  --color-success: #27AE60;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.8;
  min-height: 100vh;
}

/* 3. Global styles */
* {
  margin: 0;
  padding: 0;
}